# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# macOS
.AppleDouble
.LSOverride

# pip
pip-log.txt
pip-delete-this-directory.txt

# pytest cache
.pytest_cache/
